<ion-header>
    <ion-navbar>
        <ion-title>
            Home
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-title>Meus Pedidos</ion-title>

    <!-- início card do pedido -->
    <ion-card *ngFor="let pedido of pedidos.data" [navPush]="page" [navParams]="pedido">
        <ion-list-header>
            PEDIDO #{{ pedido.Id }}
        </ion-list-header>

        <div padding>
            <p>{{ pedido.Data }}</p>
            <h2>{{ pedido.Titulo }}</h2>
            <p>R$ {{ pedido.Produtos | formatarPreco }}</p>
            <p>Qtd.: {{ pedido.Produtos?.length }}</p>
        </div>

        <ion-list>
            <ion-item *ngFor="let produto of pedido.Produtos">
                <ion-thumbnail item-left>
                    <img src="{{ produto.SrcImagem }}">
                </ion-thumbnail>
                <h2>{{ produto.Descricao | abreviarTexto:25 }}</h2>
                <p>R$ {{ produto.Valor | formatarPreco }}</p>
            </ion-item>

        </ion-list>

    </ion-card>
    <!-- fim card do pedido -->

</ion-content>