.status-timeline {
    .status-horario {
        .horario {
            display: block;
            margin: 0 auto 40px;
            padding: 3px 0 0 10px;
            &:last-child {
                margin: 0 auto;
            }
        }
    }
    .passos {
        background-image: url('../assets/timeline.png');
        background-repeat: repeat-y;
        background-position: center 50px;
        padding: 0;
        margin: 5px 0;
        .passo {
            display: block;
            width: 20px;
            height: 20px;
            margin: 0 auto 40px;
            padding: 0;
            background-color: white;
            border-radius: 20px;
            border: solid 3px black;
            &.concluido {
                background-color: greenyellow;
            }
            &.atual {
                background-color: yellow;
            }
            &.erro {
                background-color: red;
            }
            &:last-child {
                margin: 0 auto;
            }
        }
    }
    .status-descricao {
        margin: 0 auto 40px;
        padding: 0 0 0 10px;
        &:last-child {
            margin: 0 auto;
        }
    }
}